<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="_popup" data-ng-csp>
	<head>
		<title>DopeCoin (DOPE)</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/angular.min.js"></script>
		<script type="text/javascript" src="/ext.js"></script>
		<base target="_blank" />
	</head>
	<body bgcolor="white" class="DOPE" data-ng-controller="PopupCtrl" data-ng-cloak>

		<div style="width: 200px;" data-ng-if="btcDATA && dopeDATA" data-ng-cloak>
			<div data-ng-if="btcDATA">Bitcoin (BTC) {{btcDATA}} USD</div>
			<div data-ng-if="dopeDATA">DopeCoin (DOPE) 0.0000{{dopeDATA}} BTC</div>
			<br>
			<a href="https://www.coingecko.com/en/price_charts/bitcoin/usd/24_hours" target="_blank">bitcoin/usd/24 Hours/10 Min</a><br>
			<a href="https://www.coingecko.com/en/price_charts/dopecoin/btc" target="_blank">dopecoin/btc/10 Min</a>

		</div>

		<br>
		<md-content>
			<label><input type="text" id="buyAlert" data-ng-model="buyAlert" data-ng-change="change()" /><br>
				buy alert<span> (Example: 500)</span></label>
		</md-content>
	</body>
</html>