<!DOCTYPE html>
<html lang="en" data-ng-app="Zealite_options" data-ng-csp>
    <head>
        <title>ZealiteX20 chrome.Ext - Options Page</title>
        <meta charset="UTF-8" />		
        <script type="text/javascript" src="/angular.min.js"></script>
        <script type="text/javascript" src="/options.js"></script>
    </head>
    <body bgcolor="{{color?'#'+color:'#FFFFFF'}}" data-ng-controller="OptionsCtrl" ng-cloak>
		
		<md-content layout-padding>
		
			<!-- Отслеживать два ника (что бы понять, что не твинки):<br />
			<input type="text" id="first" name="first" placeholder="Первый ник" /> и <input type="text" id="second" name="second" placeholder="Второй ник" /><br /><br /> -->
			
			Добавить друга:<br />
			<input type="text" id="friend" name="friend" placeholder="Добавить друга" /><br />
			<div data-ng-repeat="friend in friends track by $index">{{friend}} <span style="cursor: pointer;" data-ng-click="delFriend($index)">x</span></div>
			
			<br data-ng-if="friends" />
						
			Добавить врага:<br />
			<input type="text" id="enemy" name="enemy" placeholder="Добавить врага" /><br />
			<div data-ng-repeat="enemy in enemies track by $index">{{enemy}} <span style="cursor: pointer;" data-ng-click="delEnemy($index)">x</span></div>
			
			<br data-ng-if="enemies" />	
			
			<!-- Сколько очков в монументе?<br />
			<label><input type="text" id="points" name="points" placeholder="Сколько сейчас очков?" /> Сейчас радиус - ХХ</label><br />
					
			<input type="text" id="telegroup" name="telegroup" placeholder="Группа телеграм" />
			<label><input type="checkbox" id="connectTelegroup" data-ng-checked="connectTelegroup=='true'" data-ng-value="telegroup" />Транслировать в телеграм?</label><br />
			-->		
			
			<br />
			Мониторить сервер:
			<select id="server">
				<option value="x20">x20</option>
				<option value="x5">x5</option>
				<option value="x1">x1</option>								
			</select><br />
			
			Любимый цвет:
			<select id="color">
				<option value="FFFFFF">Белый</option>				
				<option value="005EA7">Голубой</option>
				<option value="FFDE40">Желтый</option>				
				<option value="EEEEEE">Серый</option>
			</select><br />
			
			<label>Ваше время рестарта сервера:
			<select id="restartTime">
				<option value="00:00">00:00</option>				
				<option value="01:00">01:00</option>				
				<option value="02:00">02:00</option>				
				<option value="03:00">03:00</option>				
				<option value="04:00">04:00</option>				
				<option value="05:00">05:00</option>				
				<option value="06:00">06:00</option>				
				<option value="07:00">07:00</option>				
				<option value="08:00">08:00</option>				
				<option value="09:00">09:00</option>				
				<option value="10:00">10:00</option>				
				<option value="11:00">11:00</option>				
				<option value="12:00">12:00</option>				
				<option value="13:00">13:00</option>				
				<option value="14:00">14:00</option>				
				<option value="15:00">15:00</option>				
				<option value="16:00">16:00</option>				
				<option value="17:00">17:00</option>				
				<option value="18:00">18:00</option>				
				<option value="19:00">19:00</option>				
				<option value="20:00">20:00</option>				
				<option value="21:00">21:00</option>				
				<option value="22:00">22:00</option>				
				<option value="23:00">23:00</option>				
			</select></label><br />
			
			<label>Ваше время Судного Часа:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<select id="jhTime">
				<option value="00:00">00:00</option>				
				<option value="01:00">01:00</option>				
				<option value="02:00">02:00</option>				
				<option value="03:00">03:00</option>				
				<option value="04:00">04:00</option>				
				<option value="05:00">05:00</option>				
				<option value="06:00">06:00</option>				
				<option value="07:00">07:00</option>				
				<option value="08:00">08:00</option>				
				<option value="09:00">09:00</option>				
				<option value="10:00">10:00</option>				
				<option value="11:00">11:00</option>				
				<option value="12:00">12:00</option>				
				<option value="13:00">13:00</option>				
				<option value="14:00">14:00</option>				
				<option value="15:00">15:00</option>				
				<option value="16:00">16:00</option>				
				<option value="17:00">17:00</option>				
				<option value="18:00">18:00</option>				
				<option value="19:00">19:00</option>				
				<option value="20:00">20:00</option>				
				<option value="21:00">21:00</option>				
				<option value="22:00">22:00</option>				
				<option value="23:00">23:00</option>				
			</select></label><br />
			
			<!-- Текущая дата:
			<div layout-gt-xs="row">
			  <div flex-gt-xs>				
				<md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
			  </div>			  
			</div> -->			
			
			Текущее время ({{timeNow}})
			<label><input type="checkbox" id="adminAlert" data-ng-checked="adminAlert=='true'" />Следить за админом?</label>			
			<br /><br />
			<button id="save" data-ng-click="saveOptions()">Сохранить / Save</button>
			
			<!-- <div id="status"></div>
			<div data-ng-if="saved"><br />Запомнили</div> -->
		
		</md-content>
	</body>
</html>