<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="_popup" data-ng-csp>
	<head data-ng-controller="headPopupCtrl">
		<title>Coub Chrome.Ext - Popup</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" /> 
		<link href="/ext.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="angular.min.js"></script>

        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="flowtype.js"></script>

        <script type="text/javascript" src="ext.js"></script>

		<base target="_blank" />
	</head>
	<body bgcolor="white" class="coubExt" data-ng-controller="PopupCtrl" ng-cloak>
		<table class="body-wrap" ng-cloak>
			<tr> 
				<td class="container" ng-cloak>

					<!--HOT LINKS & MAKE COUB-->
					<a href="http://coub.com/create" class="createCoub linkExt">Make COUB</a>
					<a href="http://coub.com/likes" class="goCoub linkExt">Likes log</a>
					<a href="http://coub.com/explore/hot" class="goCoub linkExt">Hot log</a>

					<br clear="all" />

					<br>

					Coub.com API based app 🚬

					<br>

					Current tab url: <!--ITS JUST FUCKING WORKING!-->
					<a href="http://coub.com/create?source={{serverCTU}}" target="_blank" data-ng-click="tryMakeCoub(serverCTU)" class="linkExt">THIS TAB COUB</a> 🤘🏻

					<br clear="all" />

					<!--NOTIFICATIONS-->
					<div class="content content_lightgray" ng-cloak>

						<span data-ng-if="dataUserIcon">

							<p>Current channel info:</p>

							<img data-ng-src="{{dataChannelBachground}}" class="backgroundPicExt" />

							<!--<pre data-ng-bind="audioByCode | json"></pre>-->

							<a href="{{serverUrl}}/{{dataUser.current_channel.permalink}}" target="_blank"><img data-ng-src="{{dataUserIcon}}" /></a>

							<a href="{{serverUrl}}/{{dataUser.current_channel.permalink}}" target="_blank">{{dataUser.current_channel.title}}</a>
							({{dataUser.current_channel.followers_count}}) (<span class="orangered">{{dataUser.current_channel.following_count}}</span>)

							<br>

							{{dataChannelViewsCount}} views

							<br>

							<a href="javascript:void(0)" data-ng-click="markAllReaded()" title="mark all readed" class="linkExt">Mark All Readed</a> 🎈🎈🎈

						</span>

						<span data-ng-if="dataNotification">

							<p data-ng-if="dataNotification.length > 0">Activity log from ALL channel's:</p>

							<!--<pre data-ng-bind="dataNotification | json"></pre>-->
							<!--<pre data-ng-bind="followStatus | json"></pre>-->

							<span data-ng-repeat="notif in dataNotification">

								<!--<pre data-ng-bind="notif.kind | json"></pre>-->

								<p>
									<!--KIND entity_type-->
									<span class="orangered">{{notif.entity_type}} {{notif.kind}}</span>
									<!--<span class="">{{notif.id}}</span>-->

									<br>

									<!-- audio links 🤙🤙🤙 -->
									<span data-ng-repeat="audio in audioByCode">

										<!-- web src -->
										<span data-ng-if="
											notif.object.permalink == audio[0] &&
											audio[1] != null
										"><a href="{{audio[1]}}" target="_blank">{{audio[0]}} audio</a></span><!--@TODO bug duble here-->

										<!-- mobile src -->
										<span data-ng-if="
											notif.object.permalink == audio[0] &&
											audio[1] == null &&
											audio[2] != null
										"><a href="{{audio[2]}}" target="_blank">{{audio[0]}} audio</a></span>
									</span>

									<br>

									<span data-ng-if="
										notif.object.image_versions.template.replace('%{version}', 'micro_2x') != ''
									">
										<img class="coubPic" data-ng-src="{{notif.object.image_versions.template.replace('%{version}', 'micro_2x')}}" />
										<br>
									</span>

									<!--ICONS-->
									<span data-ng-if="notif.system_notification == rtue"><img class="likeExt" src="icon_connect.png" />!!</span>

									<span data-ng-if="notif.kind == 'like'"><img class="likeExt" src="icon_connect.png" /> </span>

									<span data-ng-if="notif.kind == 'recoub'"><img class="recoubExt" src="icon_connect.png" /> </span>

									<span data-ng-if="notif.kind == 'follow'"><img class="followExt" src="icon.png" /> </span>

									<span data-ng-if="notif.kind == 'new_category'"><img class="otherExt" src="icon.png" /></span>

									<!--Object-->
									<span>
										<b>{{$index+1}}. <a href="{{serverUrl}}/view/{{notif.object.permalink}}" target="_blank">{{notif.object.title}}</a></b>
										({{(notif.object.views_count) ? notif.object.views_count : notif.object.followers_count}})
									</span>

									<br>

									<!--  🤘🏻  🤘🏻  🤘🏻   -->
									<span class="content gray">

										<!--User's i not follow him actions-->
										<span class="users" data-ng-repeat="notifS in notif.senders track by $index" data-ng-if="notifS.i_follow_him != true">

											<!-- + + +  -->
											<a href="javascript:void(0)" class="backgroundPicExt" data-ng-click="
												follow(dataUser.current_channel.id, notifS.id)
											" title="follow him">
												+
												<span data-ng-if="
													followStatus[0] == notifS.id && followStatus[1] == 'ok'
												">ok</span>

												<!-- follows_by_users_channels.length > 0 -->
												<span data-ng-if="
													notifS.follows_by_users_channels.length > 0
												" class="orangered userPosition">
													{{notifS.follows_by_users_channels.length}}
													🤙 ({{notifS.followers_count}})
												</span>

												<!-- follows_by_users_channels.length == 0 -->
												<span data-ng-if="
													notifS.follows_by_users_channels.length == 0
												" class="orangered youNotFollow userPosition">
													{{notifS.follows_by_users_channels.length}}
													🤘🏻 ({{notifS.followers_count}})
												</span>
											</a>

											<!--  -->
											<span data-ng-if="
												!notifS.avatar_versions.template.replace('%{version}', 'small')
											">
												<img class="avatar-svg" src="images/avatar-svg.png" />
											</span>

											<!--  -->
											<span data-ng-if="
												notifS.avatar_versions.template.replace('%{version}', 'small') != ''
											">
												<img data-ng-class="avatarExt" data-ng-src="
													{{notifS.avatar_versions.template.replace('%{version}', 'small')}}
												" />
											</span>

											<a href="http://coub.com/{{notifS.permalink}}" class="title">{{notifS.title}}</a>

											<br>

										</span>

										<!--User's i follow him actions-->
										<span class="users" data-ng-repeat="notifS in notif.senders track by $index" data-ng-if="notifS.i_follow_him == true">

											<!--  -->
											<span class="orangered backgroundPicExt" title="{{notifS.followers_count}}">
												{{notifS.follows_by_users_channels.length}} ❤ ({{notifS.followers_count}})
											</span>

											<!--  -->
											<span data-ng-if="
												!notifS.avatar_versions.template.replace('%{version}', 'small')
											">
												<img class="avatar-svg" src="images/avatar-svg.png" />
											</span>

											<!--  -->
											<span data-ng-if="
												notifS.avatar_versions.template.replace('%{version}', 'small') != ''
											">
												<img data-ng-class="avatarExt" data-ng-src="
													{{notifS.avatar_versions.template.replace('%{version}', 'small')}}
												" />
											</span>

											<a href="http://coub.com/{{notifS.permalink}}" class="title">{{notifS.title}}</a>

											<br>

										</span>

									</span>

								</p>

							</span>
						</span>

						<p>Quick links:</p>

						<a href="http://coub.com" class="linkExt">Last viewed COUB</a> 💌

						<br>
						<br>

						Donate this app pls!!!

						<br>
						Bitcoin (BTC) 	🌏 1LZBGorYitWzZHVwUMLQEn3k9wvWTGnB45
						<br>
						DopeCoin (DOPE) 💰 DBCPN7gEuAcetW6XquXUitJt9LFxPVsckY
						<br>
						Ethereum (ETH) 	💎 0xe2bd097096a8f3b91b0700e636a5e89e7fad1ac4
						<br>
						PutinCoin (PUT) 🕯🕯🕯 PBN5KmJT4S5WuQ7NvWwo8teTiBQoivZryB
						<br>
						Dogecoin (DOGE) 🐶 DKf4ANCkcLAgpB1qrVAkKT35kbuW2AfPG7
						<br>
						Litecoin (LTC) 	⭐ LNy2KM7Ui8NNcqp5HeWCygTBq6D4C1a5Pk

						<br/>
						<br/>

						<a href="https://www.cryptopia.co.nz/Register?referrer=p0staltomsk" target="_blank" class="linkExt">https://www.cryptopia.co.nz 💲</a>

						<br/>

						<a href="http://coub.com/dev/docs/Coub+API/Overview" class="linkExt">Coub API Overview</a> 🚬

						<br/>

						<a href="/options.html" target="_blank" title="Settings" class="linkExt">Extention Settings</a> ⚙️
					</div>

					<!--SAERCH-->
					<div ng-cloak>

						<span data-ng-if="logData">
						<p>Search log from coub.com:</p>

						<div data-ng-repeat="eachItem in logData track by $index">
							<a href="http://coub.com/search?q={{eachItem.query}}" target="_blank" class="linkExt">{{eachItem.query}}</a>
						</div>
						</span>

						<br>

						<input placeholder="#tag/name" data-ng-model="search_text" />
						<button data-ng-click="searchFunc()">search by click</button>

						<span data-ng-if="model.data.coubs">
							<p>Search result's:</p>

							<div data-ng-repeat="eachItem in model.data.coubs track by $index">
								<a href="http://coub.com/view/{{eachItem.permalink}}" target="_blank">{{eachItem.title}}</a>
							</div>
						</span>

					</div>

				</td>
			</tr>
		</table>

		<!--<pre data-ng-bind="dataUser | json"></pre>-->

	</body>
</html>