<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="_popup" data-ng-csp>
	<head>
		<title>Coub Chrome.Ext - Popup</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" /> 
		<link href="/ext.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="ext.js"></script>
		<base target="_blank" />
	</head>
	<body bgcolor="white" class="zealite" data-ng-controller="PopupCtrl" ng-cloak>
		<table class="body-wrap"> 
			<tr> 
				<td class="container"> 
					<div class="content">											
						<div class="content">											
							<input placeholder="#tag/name" data-ng-model="search_text" />
							<button data-ng-click="searchFunc()">search</button>
						</div>						
						<div class="content">

							<span data-ng-repeat="notif in dataNotification">

								<span data-ng-if="notif.i_follow_him != true">{{notif.senders[0].kind}}</span>

								<p><span data-ng-repeat="notifS in notif.senders" data-ng-if="notifS.i_follow_him != true">
									{{notifS.i_follow_him}}
									{{notifS.title}}
									<a href="http://coub.com/{{notifS.permalink}}">..</a>
									<br>
								</span></p>

							</span>

							<p>Just start development here ! sorry</p><!--@TODO go go!-->
							<a href="http://coub.com">Последнй просмотренный coub</a><br/><!--@TODO go go!-->
							<a href="http://coub.com">Перейти на coub</a><br/>
							<a href="http://coub.com/create">Сделать coub</a><br/>
							<a href="/options.html" target="_blank" title="Открыть настройки">Открыть настройки</a>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<!--{{model.config.url}}
		<div class="content" data-ng-repeat="enemy in model.data.coubs track by $index">
			<a href="{{enemy.file_versions.mobile.gifv}}">{{enemy.title}} {{$index+1}}</a>
			<img ng-src="{{enemy.small_picture}}" width="60px" />			
		</div>-->
	</body>
</html>